@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
    @include margin-top(2.25);
    @include margin-bottom(.1);
    float: left;
    width: 100%;
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
     
        &-item {
            padding: 0;
            margin: 10px 0;
            position: relative;
            float: left;
            width: 100%;
            opacity: 0;

            &-link {
                
                font-size: $typographic-base-font-size;
                color: $typographic-base-font-color;
                font-weight: 400;
                border: 0;
                &:hover,
                &:focus {
                    color: $color-gray;
                    opacity: 0.750;
                    letter-spacing: .12px;
                }
                &--active {
                    color: $color-gray;
                    opacity: 0.450;
                    letter-spacing: .6px;
                    font-size: 18px;  

                }
            }
        }
    }
}
